/* 1150px
--------------------------------------------------------*/
@media screen and (max-width: 1150px) {




}



/* 1100px
--------------------------------------------------------*/
@media screen and (max-width: 1100px) {



}


/* 1100px
--------------------------------------------------------*/
@media screen and (max-width: 1100px) {



}



/* 900px
--------------------------------------------------------*/
@media screen and (max-width: 900px) {

     #innerHeader, #main, #innerFooter {
        width: 100%;

     }

    
    
    h2{
    padding-left: 5%;
    margin-bottom: .1em;    
    }
    
    
    #wrapper p{
    padding-left: 5%;
    
    }
    
    
.locationName2{
/*    width:40%;*/
    float: left;
    margin-top: .2em;
    font-size: 1.2em;
    padding-right: 10%;
/*    background-color:red;*/
}

.locationData2{
/*    width: 20%;*/
/*    float: right;*/
/*    line-height:4em;*/
    font-size: 1.2em;
    margin-top: 1.2em;
/*    background-color:yellow;*/
}

.locationName2, .locationData2{
    padding-top: .3em;
    
    padding-left:2.5%;
    color: #333333;

}

       
    
#innerFooter {
        padding-left: 5%;

     }
    
    
} /* end 900*/



/* 475px
--------------------------------------------------------*/
@media screen and (max-width: 475px) {
    
    
    h1{
    font-size: 2em;
    
    }
    
    header {
    width:100%;
    height: 4em;
    padding-bottom: .5em;
    padding-top: 1em;
}

h2{

    }
    
    
 .name {
    padding-top: .5em;
}

button#newLocation {
    height:2.8em;
    width:40%;
}   
    
    
#dest1 {
    padding-top: 1.2em;

}

 #wrapper {
    padding-top:1.3em;
    
    }
    
p {
    padding-top: .75em;
}
    
    
.locationName2{
    margin-left: 3%;
    padding-top: .5em;
}
    
}/* end 475*/
