/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* //* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*********************** 
COLORS

GREEN  #2F9F78
LIGHT GREEN #9AD9C9
DARK GRAY #333333
LIGHT GRAY #E5E9EC
BLUE #3498DB
***********************/
/*sticky footer*/

html,
body {
    height: 100%;
}

body {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5em;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: lighter;
}

h1 {
    /*    font-weight: lighter;*/
    
    font-size: 2em;
}

h2 {
    /*    font-weight: bold;*/
    
    font-size: 1.7em;
    color: #969EA3;
    /*    margin-bottom: 1em;*/
}

p {
    font-size: 1em;
    line-height: 1.5em;
    color: #4C5760;
    padding-top: .5em;
}

.boldBlue {
    /*    font-weight: bolder;*/
    
    color: #3498DB;
}

header {
    width: 100%;
    height: 3.5em;
    /*    background-color: #2F9F78;#31415C*/
    
    background-color: #31415C;
    color: white;
    padding-bottom: .25em;
    padding-top: 1em;
}

#innerHeader {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.name {
    padding-top: .5em;
    color: white;
}

button#formButton {
    margin-top: .5em;
    height: 1.8em;
    width: 15%;
    background-color: #9AD9C9;
    border: none;
    /*    display: none;*/
    
    border-radius: 5px;
}

#wrapper {
    width: 100%;
    /*height: 500px;*/
    
    background-color: white;
    /*    sticky footer*/
    
    min-height: 100%;
    /* equal to footer height */
    
    margin-bottom: -142px;
}
/******FORM******/

#addressForm {
    margin-top: 1.5em;
    margin-bottom: 1em;
    /*    margin-left: 2.5%;*/
    
    display: none;
    /*    background-color: lightyellow;*/
}

#destField {
    width: 25%;
    border: 1px solid lightgray;
    border-radius: 3px;
    height: 2.25em;
    font-size: 1em;
    -webkit-appearance: none;
}

#enterAddress {
    border: none;
    background-color: rgb(247,93,84);
/*

    width: 30px;
*/

    color: #ffffff;
    height: 2em;
    border-radius: 5px;
}



button#clearStorage{
    margin-top:5px;
    border: none;
/*    background: #4d4d4d;*/
    background: rgb(168, 164, 164);
    color:#ffffff;
/*    color:rgb(243, 243, 243;*/
}


#example {
    font-size: .75em;
    font-style: italic;
    color: #3498DB;
}
/******GOOGLE MAP******/
/*
  html { height: 100% }

  body { height: 100%; margin: 0; padding: 0 }
*/

#map-canvas {
    height: 10em;
    /* border:1px blue solid; */
}
/* sticky footer */

#wrapper:after {
    content: "";
    display: block;
}

#main {
    /*    padding-top: 1.5em;*/
    
    padding-bottom: 1.5em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*LOCATION BUCKETS*/

#topInfo {
    width=100%;
    padding-top: 1.5em;
    /*    background-color: darkturquoise;*/
}

.infoBar {
    width: 100%;
    height: 7em;
    border: 1px solid #E5E9EC;
    margin-top: 1em;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 79%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(top, bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(79%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 79%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 79%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 79%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 79%, rgba(237, 237, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
}

.locationName {
    width: 39%;
    float: left;
    /*    background-color:blue;*/
}

.locationDistance {
    font-size: .75em;
}

.spin {
    padding-left: 10px;
    width: 20px;
}
/*
.locationData{
    width:55%;
    float: right;

    
}
*/
/*
.locationName, .locationData{
    font-size: 2.2em;
    line-height:4em;
    padding-left:2.5%;
    color: #333333;

}
*/

.locationName2 {
    width: 35%;
    float: left;
/*    margin-top: 1em;*/
    font-size: 1.5em;
    padding-right: 10%;
}

.locationData2 {
    width: 25%;
    font-size: 1.4em;
/*    margin-top: 1em;*/
}

.locationName2,
.locationData2,
.deletBucket {
    padding-top: .3em;
    padding-left: 2.5%;
    color: #333333;
}

.deletBucket {
    float: right;
    padding-right: 1%;
}

.locationName2,
.locationData2,
.deletBucket {
    display: inline-block;
}
/*temp styling for wip*/

#dest1 {
    font-size: 1.4em;
    line-height: 1em;
    padding-top: 2em;
}

.deleteButton {
    width: 70%;
/*        border: red 1px solid;*/
}

#resultsBox {
    padding: 10px 0 0 20px;
}

footer,
#wrapper:after {
    height: 142px;
}

footer {
    width: 100%;
    /*height: 100px;*/
    
    background-color: #E5E9EC;
}

#innerFooter {
    padding-top: 1em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: .70em;
    color: #4C5760;
}